.navbar {
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 8px;
  min-width: min-content;
  justify-content: space-between;
  font: 13px/27px Roboto,Arial,sans-serif;
  color: white;
  width: 100%;
}

.logo-all-section {
  display: flex;
  padding-right: 30px;
}